
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Os sem-lugar</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
<!--//webfont-->
<!--Animation-->
<script src="js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>

</head>
<body>
	<div class="header box css3-shadow" id="head"">
 	<div class="container">
	  <div class="header-top">
	        <div class="logo wow bounceInLeft" data-wow-delay="0.4s">
				<a href="index.html"><img id="logo" src="images/logo.png" alt="logo"/></a>
			 </div>
		     <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<div class="navmenu">
				<ul class="nav">
					<li><a class="scroll" href="index.html">home</a></li>
						<li><a href="index.html" class="scroll">o aplicativo</a></li>
						<li><a href="index.html">quer ajudar?</a>
							<ul class="submenu">
								<li><a href="">desaparecidos</a></li>
								<li><a href="">moradores de rua</a></li>
								<li><a href="">abrigados</a></li>
								<li><a href="">pesquisar</a></li>
							</ul>
						</li>
						<li><a href="index.html">download</a></li>
					<li><a href="index.html">sobre nós</a></li>
					<li class="active"><a href="contact.html">contato</a></li>
					</ul>
					</div>


				<script type="text/javascript" src="js/nav.js"></script>
			</div><!-- end h_menu4 -->

			<div class="clearfix"> </div>
				<script type="text/javascript" src="js/nav.js"></script>
			

			<div class="clearfix"> </div>
			
		  </div><!-- end header_main4 -->
	</div>
</div>
<!--start-contact-->
		<div class ="contact-section">
			<div class="container">
				<div class="contact">
					<h3 class="wow bounceIn" data-wow-delay="0.4s">FALE COM A GENTE</h3>
					<h4 class="wow fadeInUpBig animated" data-wow-delay="0.4s"> Para mandar sugestões ou apenas falar com a gente, nos mande uma mensagem,</h4> <h4>ficaremos muito felizes com seu feedback! :)) <h4>
						<form class="wow bounceIn" data-wow-delay="0.4s">
							<input type="text" placeholder="Nome" required=" ">
							<input type="text" placeholder="E-mail" required=" ">
							<input type="text" placeholder="Assunto" required=" ">
							<textarea placeholder="Mensagem" required=" "></textarea>
							<input type="submit" value="Mandar mensagem">
						</form>
					</div>	
				</div>
			</div>
			<!--/start-copyright-section-->
				<div class="copyright">
					<div class="container">
					<div class="logo" data-wow-delay="0.4s"><a href="index.html"><img style="width:200px;
  height:25px; padding: 0px;" src="images/logo.png" alt=""/ title="logo" /></a></div>
					<p class="write  wow bounceInRight" data-wow-delay="0.4s" style="margin-top: 25px;">Copyright IFSul 2015 | Template by &nbsp;<a href="http://w3layouts.com">W3layouts</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			
			<!--//end-copyright-section-->
			<!--start-smoth-scrolling-->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


			
</body>
</html>