
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title> Os sem lugar</title>
<link rel="icon" type="image/png" href="images/icon.png" />
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
<!--//webfont-->
<!--Animation-->

<script src="js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>

</head>
<body>
	<div class="header box css3-shadow" id="head"">
 	<div class="container">
	  <div class="header-top">
	        <div class="logo wow bounceInLeft" data-wow-delay="0.4s">
				<a href="index.html"><img id="logo" src="images/logo.png" alt="logo"/></a>
			 </div>
		     <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<div class="navmenu">
				<ul class="nav">
					<li class="active"><a class="scroll" href="index.html">home</a></li>
						<li><a href="#features" class="scroll">o aplicativo</a></li>
						<li><a href="#people">quer ajudar?</a>
							<ul class="submenu">
								<li><a href="#people">desaparecidos</a></li>
								<li><a href="#people">moradores de rua</a></li>
								<li><a href="#people">abrigados</a></li>
								<li><a href="#people">pesquisar</a></li>
							</ul>
						</li>
						<li><a href="#download">download</a></li>
					<li><a href="#">sobre nós</a></li>
					<li><a href="contact.html">contato</a></li>
					</ul>
					</div>


				<script type="text/javascript" src="js/nav.js"></script>
			</div><!-- end h_menu4 -->

			<div class="clearfix"> </div>
			
		  </div><!-- end header_main4 -->
	</div>
</div>
<!--start-slider-->
	<div class="slider-bg">
		<div class="container">
			<div class="grid-1">
				<div class="col-md-5 left-grid-1 wow bounceInLeft" data-wow-delay="0.4s">
				<center> <img src="images/frontimage.png" class="img-responsive" style="height: 350px;
	width: 370px; margin-bottom: 20px; margin-top:10px;" alt="" />
				</div>
				<div class="col-md-7 right-grid-1 wow bounceInRight" data-wow-delay="0.7s">
					<div class="slider">
						<center>
						<div class="callbacks_container">
								<ul class="rslides" id="slider">
									<li>
									<center>
									<img src="images/icon.png" class="img-responsive imagemicon" alt="" />
									</li>
									<li>
									<img src="images/logo.png" class="img-responsive" style="margin-top: 30%;"alt="" />
									</li>
								 </ul>
							</div>
						</div>
					</div>	
				 </script><script src="js/responsiveslides.min.js"></script>
						   <script>
					    $(function () {
					      $("#slider").responsiveSlides({
					      	auto: true,
					      	nav: true,
					      	speed: 500,
					        namespace: "callbacks",
					        pager: true,
					      });
					    });
					  </script>

                    </div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!--//end-slider-->
	<div id = "features"class="features-section text-center">
			<div class="container">
					<div class="Awesome-features">
						  <h3><b>Conheça nossa plataforma colaborativa</b> </h3><h4> Os sem lugar é banco nacional de desaparecidos e moradores de rua, que quer ajudar à reintegrar pessoas à sociedade.</h4> </br>
						 <div class="awesome-grids">
						 	<div class="col-md-4 awesome-grid wow bounceIn" data-wow-delay="0.4s">
						 		<i class="eye"></i>
								<h4>Somos atentos</h4>
								<p>Temos muitas pessoas em nosso banco de dados, e cada vez que você cadastra alguém, cruzamos seus dados com outras pessoas do nosso site. Se ele já estiver por aqui, saberemos</p>
							</div>
							<div class="col-md-4 flat-phone text-center span_66 wow bounceIn" data-wow-delay="0.4s">
								<img style="margin-top: 80px; margin-left: 30px;" id = "logo" src="images/logo.png" alt="" />
							</div>

							<div class="col-md-4 awesome-grid wow bounceIn" data-wow-delay="0.4s">
						 		<i class="load"></i>
								<h4>Alertamos você</h4>
								<p>Se uma pessoa está cadastrada como desaparecido e alguém o viu, faremos questão de alertar você</p>
							</div>
						 	<div class="clearfix"></div>
						 </div>
						 <div class="awesome-grids second">
						 	<div class="col-md-4 awesome-grid wow bounceIn" data-wow-delay="0.4s">
						 		<i class="msg"></i>
								<h4>Nós lembramos do nosso pessoal</h4>
								<p>Encontrou alguém que já tem cadastro? Sem problemas! Você pode atualizar o perfil dele, e mais importante, nós ajudar a manter um registro de locais por onde a pessoa andou</p>

							</div>
							<div class="col-md-4 awesome-grid wow bounceIn" data-wow-delay="0.4s">
						 		<i class="flag"></i>
								<h4>Acha que viu alguém que precisa de ajuda por aí?</h4>
								<p>Procure por ele no nosso aplicativo! Se você tem certeza que viu alguém que está desaparecido, nos notifique deste avistamento. Sua contribuição é muito importante!</p>	

							</div>
							<div class="col-md-4 awesome-grid wow bounceIn" data-wow-delay="0.4s">
						 		<i class="ok"></i>
								<h4>Somos legais</h4>
								<p>O aplicativo é 100% gratuito, e você pode usar todas as funcionalidades à vontade</p>

							</div>
						 	<div class="clearfix"></div>
						 </div>
					</div>
			</div>
		</div>
		<!--start-mid-section-->
			<div class="container">
				<div id ="download" class="mid-section">
						<div class="mid-top wow fadeInUpBig animated animated" data-wow-delay="0.4s">
							<div class="col-md-10 mid-text">
							 <h3>Oi! Sou uma plataforma crowdsourcing que quer fazer o bem reconectando pessoas à sociedade. </br>Quer me ajudar? </h3>
							 <p> Se você quiser, quem sabe não faz download do aplicativo também?</p>
							</div>
							<div class="col-md-2 mid-button">
								<a href="#"> BAIXAR <3</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
		    <!--//end-mid-section-->
			<!--/port-section-->
			<div id="people" class="port-section">
				<div class="container">
				<h2>VOCÊ VIU ALGUMA DESSAS PESSOAS?</h2>
					<div class="port-grids">
						<div class="col-md-3 port-grid wow zoomInLeft animated">
							<a href=""><img src="images/d2.jpg" class="img-responsive" style="height: 250px;
	width: 300px;" alt="" /></a>
							<div class="box-hover">
								<ul class="port-icons">
								</ul>
							</div>
							<div class="text">
								<a href=""><h3>Cleber Cavalcante</h3></a>
								<p>Idade: 37 anos</p><p>Desap. 09/11/2010</p><p>Local: Taubaré-SP </p>
							</div>

						</div>
						<div class="col-md-3 port-grid wow zoomInLeft animated" >
							<a href=""><img src="images/d1.jpg" class="img-responsive" style="height: 250px;
	width: 300px;" alt="" /></a>
							<div class="box-hover">
								<ul class="port-icons">
								</ul>
							</div>
							<div class="text">
								<a href=""><h3>Bárbara Regina da Silva</h3></a>
								<p>Idade: 21 anos</p><p>Desap. 01/09/2012</p><p>Local: Maceió-AL </p>
							</div>
						</div>
						<div class="col-md-3 port-grid wow zoomInRight animated">
							<a href=""><img src="images/d3.jpg" class="img-responsive" style="height: 250px;
	width: 300px;"alt="" /></a>
							<div class="box-hover">
								<ul class="port-icons">
								</ul>
							</div>
							<div class="text">
								<a href=""><h3>Manoel Sousa Dias</h3></a>
								<p>Idade: 46 anos</p><p>Desap. 00/00/2000</p><p>Local: São Paulo-SP </p>
							</div>
						</div>
						<div class="col-md-3 port-grid lost wow zoomInRight animated">
							<a href=""><img src="images/d4.jpg" class="img-responsive" style="height: 250px; width: 300px;" alt="" /></a>
							<div class="box-hover">
								<ul class="port-icons">
								</ul>
							</div>
							<div class="text">
								<a href=""><h3>JOÃO DOS SANTOS SENA </h3></a>
								<p>Idade: 52 anos</p><p>Desap. 20/10/2014</p><p>Local: Rio de Janeiro-RJ </p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--start-bottom-section-->
				<div class="container">
					<div class="bottom-section">
							<div class="bottom-top wow fadeInDownBig animated animated" data-wow-delay="0.4s">
								<div class="col-md-10 bottom-text">
								 <h3>Fale com a gente!</h3>
								<p>Mande uma mensagem ;)</p>
								</div>
								<div class="col-md-2 story"><h4 class="stories"><span><a href="contact.html"><img src="images/mail.png" class="img-responsive" alt="" /></a></span></h4></div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
		    <!--//end-bottom-section--> 
			<!--/start-copyright-section-->
				<div class="copyright">
					<div class="container">
					<div class="logo" data-wow-delay="0.4s"><a href="index.html"><img style="width:200px;
  height:25px; padding: 0px;" src="images/logo.png" alt=""/ title="logo" /></a></div>
					<p class="write  wow bounceInRight" data-wow-delay="0.4s" style="margin-top: 25px;">Copyright IFSul 2015 | Template by &nbsp;<a href="http://w3layouts.com">W3layouts</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			
			<!--//end-copyright-section-->
			
			<!--//end-copyright-section-->
			<!--start-smoth-scrolling-->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


			
</body>
</html>